<div class="transaction-card">

  <% if transaction.is_new %>
    <span class="new-tag new-<%= transaction.id %>">New</span>
    <% transaction.is_new = false %>
    <% transaction.save %>
  <% end %>

  <div class="status <%= transaction.state %>">
  </div>

  <div class="card-body card-shadow-light cashout-card" role="button" data-toggle="collapse" href="#<%= transaction.id %>" aria-expanded="false" aria-controls="<%= transaction.id %>">

    <span>
      <h3><%= Game.find_by_id(transaction.game_id).name %></h3>
      <p> <%= transaction.transaction_confirmed_date.strftime("at %H:%M %d.%m.%Y") %> </p>
    </span>

    <span class="more-details"><i class="fas fa-arrow-down turning-arrow"></i><p>Reveal Code</p></span>

      <h3 class="transaction-amount cash-out">
        <% amount = (transaction.user_commission_amount_cents * transaction.eur_currency_rate / 100).round(0) %>
        <%='- ' + number_with_precision(amount, precision: 0, delimiter: ',') + " " + transaction.game.currency_short %>
      </h3>
  </div>

</div>

<div class="collapse" id="<%= transaction.id %>">
  <div class="well">
    <div class="full-code full-code-uncover full-code-body">
      <span class="your-code-description">
        <span>Code: </span>
      </span>
      <button type= "button" class="copy-code tooltip-wrapper" title="copy">
        <span class="copyable">
          <span class="full-code-copy"><strong><%= transaction.game_code %></strong></span>
          <i class="far fa-copy"></i>
        </span>
        <span class="my-tooltip-wrapper"><span class="tooltip-hover my-tooltip hidden">Copy Code</span></span>
        <span class="my-tooltip-wrapper"><span class="tooltip-click my-tooltip hidden">Copied!</span></span>
      </button>
    </div>
  </div>
</div>

