<div class="transaction-card">

  <div class="status <%= transaction.state %>">
  </div>

  <div class="card-body card-shadow-light cashout-card" role="button" data-toggle="collapse" href="#<%= transaction.id %>" aria-expanded="false" aria-controls="<%= transaction.id %>">
    <%#= cl_image_tag Game.find_by_id(transaction.game_id).logo_image, class:"transaction-image" %>

    <span>
      <h3><%= Game.find_by_id(transaction.game_id).name %></h3>
      <p> <%= transaction.transaction_confirmed_date.strftime("at %H:%M %d.%m.%Y") %> </p>
    </span>

    <span class="more-details"><i class="fas fa-arrow-down turning-arrow"></i><p>REVEAL CODE</p></span>

      <h3 class="transaction-amount cash-out">
        <% amount = transaction.user_commission_amount * ExchangeRate.where(game_id: transaction.game_id)[0].rate.to_i %>
        <%='- ' + number_with_precision(amount, precision: 0, delimiter: ',') + " " + transaction.game.currency_short %>
      </h3>
  </div>

</div>

<div class="collapse" id="<%= transaction.id %>">
  <div class="well">
    <%= link_to "Your Code" ,transaction.link_used  %>
  </div>
</div>

