<div class="transaction-card">

  <div class="status <%= transaction.state %>">
    <h3  class="hidden"><%= transaction.state.capitalize %></h3>
  </div>
  <div class="card-body card-shadow-light">
    <%#= cl_image_tag Partner.find_by_id(transaction.partner_id).logo_image, class:"transaction-image" %>

    <span>
      <h3><%= Partner.find_by_id(transaction.partner_id).name %></h3>
      <p> <%= transaction.transaction_confirmed_date.strftime("at %H:%M %d.%m.%Y") %> </p>
    </span>

    <h3 class="transaction-amount cash-in">
      <% amount =  transaction.user_commission_amount_cents.to_i  * transaction.eur_currency_rate / 100 %>
      + <%= number_with_precision(amount, precision: 0, delimiter: ',') %> <%= transaction.game.currency_short %>
    </h3>

  </div>
</div>
