
<footer class="footer footer-white footer-big">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-3">

          <a href="#pablo">
            <h5>Coin Squirrel</h5>
          </a>
          <p>Probably the best way to get ingame Items for free! Start collecting now and enhance your game experience!</p>
        </div>
        <div class="col-md-2">
          <h5>About</h5>
          <ul class="links-vertical">
            <li>
              <%= link_to "About us", "/about" %>
            </li>
            <li>
              <%= mail_to "info@coinsquirrel.de" do %>
              Contact
              <% end %>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
        <h5>Company</h5>
        <p>Rheinbay Ventures UG (haftungsbeschränkt)</p>
        <p>Behaimstraße 6</p>
        <p>10585 Berlin</p>
        <p>Germany</p>
        </div>
        <div class="col-md-2">
          <h5>Legal</h5>
          <ul class="links-vertical">
            <li>
              <%= link_to "Imprint", "/imprint" %>
            </li>
            <li>
            <%= link_to "Data protection", "/data_protection" %>
            </li>
            <li>
            <%= link_to "Terms & Conditions", "/terms" %>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Subscribe to Newsletter</h5>
          <p>
            Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
          </p>
          <form class="form form-newsletter" method="" action="">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your Email...">
            </div>
            <button type="button" class="btn btn-medium-solid" name="button">
              <i class="material-icons">mail</i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <hr>
  </div>
</footer>
