  <div class="partner-card card-shadow-medium">
   <a href="<%= "#{partner.referral_link}&clickref2=#{current_user.id}" %>" target="_blank" class="link">
    <%= cl_image_tag partner.card_image_url, class: "card_head"%></a>

    <div class="card_body">
      <div class="part-element-partner-card-no-border">
        <p>
          <%= partner.name %>
        </p>
      </div>
      <div class="part-element-partner-card">
          Cashback: <%= (partner.user_commission_perc * @exchange_rate / 100).to_i %> <%= cl_image_tag current_user.game.currency_image%>/ 1€
      </div>
      <div class="part-element-partner-card">
        <a href="<%= "#{partner.referral_link}&clickref2=#{current_user.id}" %>" target="_blank"><button class="btn-medium-solid">Go to Shop</button></a>
      </div>
      <div class="see-more part-element-partner-card">
          <%= link_to partner_path(partner), remote: true, class: 'my-link' do %>
        <button id="my-button-<%= partner.id %>" class="opening-button">
              <i class="fas fa-plus see-details"></i>
        </button>
          <% end %>
        <button id="close-button-<%= partner.id %>" class="hidden closing-button">
          <i class="fas fa-plus removing-details"></i>
        </button>
      </div>
    </div>
    <% if current_user.admin? %>
      <div class="btn-admin-sm">
        <%= link_to "Edit", edit_partner_path(partner) %>
      </div>
    <% end %>
  </div>
