  <div class="partner-card card-shadow-medium">

    <%= cl_image_tag partner.card_image_url, class:"card_head"%>

    <div class="card_body">
      <div class="partner-stats">
        <p>
          <%= partner.name %>
        </p>
        <p>
          <%= partner.user_commission_perc %>
        </p>
      </div>
      <div class="link-to-partner part-element-partner-card">
        <a href="<%= url_for("#{partner.referral_link}") %>" class="link">Your Referal Link</a>
      </div>
      <div class="see-more part-element-partner-card">
        <button id="my-button-<%= partner.id %>" class="opening-button">
          <%= link_to partner_path(partner), remote: true, class: 'my-link' do %>
              <i class="fas fa-plus see-details"></i>
          <% end %>
        </button>
        <button id="close-button-<%= partner.id %>" class="hidden closing-button">
          <i class="fas fa-plus removing-details"></i>
        </button>
      </div>
    </div>
  </div>
