<%= link_to "#{partner.referral_link}&clickref2=#{current_user.id}", target:"_blank" do %>
  <div class="partner-card card-shadow-medium">
    <%= cl_image_tag partner.card_image_url, class: "card_head"%>

    <div class="card_body">
      <div class="part-element-partner-card-no-border">
        <p>
          <%= partner.name %>
        </p>
      </div>
      <div class="part-element-partner-card">
          Cashback: <%= (partner.user_commission_perc * @exchange_rate / 100).to_i %>  <%=  current_user.game.currency_short %> / 1€
      </div>
    </div>

    <% if current_user.admin? %>
      <div class="btn-admin-sm">
        <%= link_to "Edit", edit_partner_path(partner) %>
      </div>
    <% end %>
  </div>
<% end %>
