
<% if first %>
  <div class="recent_payout_details button-detail-pair-<%= transaction.id %>">
<% else %>
  <div class="recent_payout_details button-detail-pair-<%= transaction.id %> hidden">
<% end %>
  <% if transaction.state == 'completed' %>
    <span class="status green"><%= transaction.state %></span>
  <% else %>
    <span class="status yellow"><%= transaction.state %></span>
  <% end %>
  <p class="description">To get Your cashed out Money, please use this Code</p>
  <a href="<%= transaction.link_used %>">
    <button class="code">Your Code</button>
  </a>
</div>
