
<div class="recent-payouts-buttons" id="button-detail-pair-<%= transaction.id %>">
  <% if first %>
  <div class="recent-payouts selected">
<% else %>
  <div class="recent-payouts">
<% end %>
    <% if transaction.state == 'completed' %>
      <div class="status green"></div>
    <% else %>
      <div class="status yellow"></div>
    <% end %>
    <% if transaction.is_new %>
      <span class="new-tag new-<%= transaction.id %>">New</span>
    <% end %>
    <span class="details">
      <h3><%= transaction.game.name %></h3>
      <p> <%= transaction.transaction_confirmed_date.strftime("at %H:%M %d.%m.%Y") %> </p>
    </span>
    <span class="amount">
      <% amount = (transaction.user_commission_amount_cents * transaction.eur_currency_rate / 100) %>
      <h3><%='- ' + number_with_precision(amount, precision: 0, delimiter: ',') + " " + transaction.game.currency_short %></h3>
    </span>
  </div>
</div>

