
<% if first %>
  <div class="recent_payout_details button-detail-pair-<%= transaction.id %>">
<% else %>
  <div class="recent_payout_details button-detail-pair-<%= transaction.id %> hidden">
<% end %>
  <% if transaction.state == 'completed' %>
    <span class="status green"><%= transaction.state %></span>
  <% else %>
    <span class="status yellow"><%= transaction.state %></span>
  <% end %>
  <div class="full-code">
    <p><%= transaction.game_code %></p>
    <button class="copy-code"><i class="fas fa-paperclip"></i></button>
  </div>
  <p class="full-code"><%= transaction.game_code %></p>
  <button class="code">Your Code</button>
</div>
