<div class="wrapper">
  <div class="container">
  <div class="description">
    <h2>Shop at a website below & earn coins</h1>
      <br>
    <div class="row">
      <div class="col-xs-4">
        1. Choose Partner & click on "Go to Shop"
      </div>
      <div class="col-xs-4">
        2. Purchase something
      </div>
      <div class="col-xs-4">
        3. Earn coins for every € spent
      </div>
      <br>
      <br>
      <h4>Find Shop</h4>
       <%= form_tag partners_path, class:"form-inline",method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
      placeholder: "Avira, CarDelMar, ..." %>
      <%= submit_tag "Find Shop", class:"btn btn-medium-solid" %>
      <% end %>
    </div>
    </div>
  </div>
  <div class="background-card card-shadow-strong card-tmm-60 shop-card">
    <% if current_user.admin? %>
    <h2>New Partners (please complete)</h2>
    <div class="row">
       <% @new_partners.each do |partner| %>
        <div class="col-xs-6 col-sm-4 col-md-3 card-parent" data-id="<%= partner.id %>">
          <%= render 'components/partner_card', partner: partner %>
        </div>
      <% end %>
    </div>
    <% end %>
    <h2>Existing Partners</h2>
    <div class="row">
      <% @partners.each do |partner| %>
        <div class="col-xs-6 col-sm-4 col-md-3 card-parent" data-id="<%= partner.id %>">
          <%= render 'components/partner_card', partner: partner %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'components/footer' %>
