<% amount = current_user.balance * current_user.game.exchange_rates.where(currency_origin_short: "EUR").first.rate %>


<div class="navbar-wagon-item">
  <div class="dropdown">
    <div class="balance-wrapper dropdown-toggle" data-toggle="dropdown">
      <div class="balance">
        <span class="balance-number"><%= number_with_precision(amount.to_i, precision: 0, delimiter: ',') %></span>
        <%= cl_image_tag current_user.game.currency_image, class: "balance-currency" %>
      </div>
    </div>

    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li>
        <%= link_to transactions_path do %>
        <%= t(".profile", default: "Account overview") %>
        <% end %>
      </li>
      <li>
        <%= link_to new_transaction_path do %>
        <%= t(".profile", default: "Payout your coins") %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
