<% amount = current_user.balance * current_user.game.exchange_rates.where(currency_origin_short: "EUR").first.rate %>

<div class="dropdown navbar-wagon-item">
  <div class="balance-wrapper dropdown-toggle" data-toggle="dropdown">
    <div class="balance">
      <span class="balance-number"><%= number_with_precision(amount, precision: 0, delimiter: ',') %></span>
      <%= cl_image_tag current_user.game.currency_image, class: "balance-currency" %>
    </div>
  </div>
  <ul class="dropdown-menu dropdown-list">
    <li>
      <%= link_to transactions_path do %>
      <%= t("#", default: "Transactions") %>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path do %>
      <%= t("#", default: "Log out") %>
      <% end %>
    </li>
  </ul>
</div>
