<% amount = current_user.balance * current_user.game.exchange_rates.where(currency_origin_short: "EUR").first.rate %>


<div class="navbar-wagon-item">
  <div class="dropdown">
    <div class="balance-wrapper dropdown-toggle" data-toggle="dropdown">
      <div class="balance">
        <span class="balance-number"><%= number_with_precision(amount, precision: 0, delimiter: ',') %></span>
        <%= cl_image_tag current_user.game.currency_image, class: "balance-currency" %>
      </div>
    </div>

    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li>
        <p> Your Balance</p>
      </li>
      <li>
        <%= link_to transactions_path do %>
        <%= t(".profile", default: "Account Overview") %>
        <% end %>
      </li>
      <li>
        <%= link_to "Go Shopping", partners_path %>
      </li>
      <li>
        <%= link_to new_transaction_path do %>
        <%= t(".profile", default: "Pay out your coins") %>
        <% end %>
      </li>

      <li role="separator" class="divider"></li>
      <li>
        <p>Your Game</p>
      </li>
      <li>
        <%= link_to "Game Items", game_path(current_user.game_id) %>
      </li>

      <% if current_user.admin? %>
        <li>
          <%= link_to "Add Partner", new_partner_path %>
        </li>
      <% end %>

      <li role="separator" class="divider"></li>
      <li>
        <p>Profile</p>
      </li>
      <li>
        <%= link_to "Profile", "#" %>
      </li>
      <li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </li>

    </ul>
  </div>
</div>
