<% amount = current_user.balance * current_user.game.exchange_rates.where(currency_origin_short: "EUR").first.rate %>

  <div class="store-banner" style="background-image:linear-gradient(0deg, rgba(255,255,255,1),rgba(0,0,0,0) 15%), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('<%= @game.store_image %>');">
    <div>
      <h1><%= @game.name %></h1>
      <p><%= @game.description %></p>
    </div>
  </div>
<div class="background-card card-shadow-strong card-tmm-60 text-center">
  <h2 style="margin-top: -25px;">Featured Items</h2>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-3 col-xs-6">
        <div class="store-card">
          <%= image_tag "#{item.image}", alt: "alttext", class: 'store-image' %>
          <div class="store-card-content">
            <div class="store-card-header">
              <p><strong><%= item.name %></strong></p>
            </div>
            <div class="store-card-detail">
              <p class="rating-<%= item.rarity %>"><%= item.rarity.capitalize %></p>
            </div>

            <div class="store-card-price">
              <p><%= number_with_precision(amount).to_i %> / <%= item.cost.to_i %> <%= item.currency %></p>
              <% if number_with_precision(amount).to_i  >= item.cost.to_i %>
                <div class="store-progression-green">

                </div>
              <% elsif number_with_precision(amount).to_i == 0 %>
                <div class="store-progression-grey">
                  <div class="store-progression-red" style="width: 3%">
                  </div>
                </div>
              <% else %>
                <div class="store-progression-grey">
                  <div class="store-progression-red" style="width: <%=(number_with_precision(amount).to_i / item.cost.to_f) * 100 %>% ;">
                  </div>
                </div>
              <% end %>
            </div>

            <div class="store-card-rating">
              <% if number_with_precision(amount).to_i  <= item.cost.to_i  %>
                <i class="fas fa-lock"></i>
              <% else %>
                <%= link_to "Pay out", new_transaction_path(value: item.cost), class: "btn btn-medium-solid"  %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


