<div class="transactions-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= cl_image_path current_user.game.banner_image %>')">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="welcome">
          <%= cl_image_tag current_user.profile_image%>
          <h1>Welcome back, <%= current_user.first_name %></h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="current-balance-description">
          <p>Current Balance</p>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="current-balance">
          <p><%= number_with_precision(@amount.to_i, precision: 0, delimiter: ',') %></p>
          <%= cl_image_tag current_user.game.currency_image %>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="buttons">
        <%= link_to partners_path do %>
          <button class="btn btn-medium-solid cta">
            Get more coins
            <i class="fas fa-info-circle details-icon"></i>
          </button>
        <% end %>
        <div class="steps hidden card-shadow-medium">
          <div class="first-step">
            <div class="circle-sm card-shadow-light">1</div>
            <p style="width: 255px;" >Choose a partner shop from the overview</p>
          </div>
          <div class="second-step">
            <div class="circle-sm card-shadow-light">2</div>
            <p>Buy a product you like</p>
          </div>
          <div class="third-step">
            <div class="circle-sm card-shadow-light">3</div>
            <p>Earn coins for every euro spent</p>
          </div>
        </div>
        <%= link_to game_path(current_user.game) do  %>
        <button class="btn-medium-light">Buy items</button>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <br>
  <div class="row">

    <% if @transactions.where(transaction_type: 'cash_out').count > 0 %>
    <div class="col-xs-12">
      <h2 class="transaction-sub-headers">Recent Gift Cards</h2>
    </div>

    <div class="recent-payouts-wrapper">
      <div class="col-xs-6">
        <% first = true %>
        <% @transactions.where(transaction_type: 'cash_out').order('transaction_confirmed_date DESC').limit(3).to_a.each do |transaction| %>
        <%= render 'components/recent_payouts', transaction: transaction, first: first  %>
        <% first =false %>
        <% end %>
      </div>
      <div class="col-xs-6 recent-payouts-details-wrapper">
        <% first = true %>
        <% @transactions.where(transaction_type: 'cash_out').order('transaction_confirmed_date DESC').limit(3).to_a.each do |transaction| %>
        <%= render 'components/recent_payouts_details', transaction: transaction, first: first %>
        <% first = false %>
        <% end %>
      </div>
    </div>

    <% end %>

    <div class="col-xs-12 space-holder"></div>

    <div class="col-xs-12">
      <h2 class="transaction-sub-headers">Transaction History</h2>
    </div>

    <% @transactions.each do |transaction| %>

    <div class="col-xs-12">
      <% if transaction.partner_id.nil? %>
      <!-- Card for Payout -->
      <%= render 'components/cashout_card', transaction: transaction %>
      <% else %>
      <!-- Card for Cash In -->
      <%= render 'components/cashin_card', transaction: transaction %>
      <% end %>
    </div>

    <% end %>
    <% if @transactions.blank? %>
      <div class="col-xs-12 space-holder-large">
        <p>You have no transactions yet. Go shopping to earn coins.</p>
      </div>
    <% end %>
    <div class="col-xs-12 space-holder"></div>
    <div class="col-xs-12 space-holder"></div>
  </div>
</div>
