<div class="transactions-banner" style="background-image: url('<%= cl_image_path current_user.game.banner_image %>')">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="welcome">
          <%= cl_image_tag current_user.profile_image%>
          <h1>Welcome back, <%= current_user.first_name %></h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="current-balance-description">
          <p>Current Balance</p>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="current-balance">
          <% amount = current_user.balance * current_user.game.exchange_rates.where(currency_origin_short: "EUR").first.rate %>
          <p><%= number_with_precision(amount, precision: 0, delimiter: ',') %></p>
          <%= cl_image_tag current_user.game.currency_image %>
        </div>
      </div>
      <div class="col-xs-12 buttons">
        <%= link_to partners_path do %>
          <button class="cta">
            <p>Increase Your Balance</p>
            <i class="fas fa-info-circle"></i>
          </button>
        <% end %>
        <button class="payout">
          <p>PAYOUT</p>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <br>
  <div class="row">

    <% if @transactions.where(transaction_type: 'cash_out').count > 0 %>
    <div class="col-xs-12">
      <h3>Recent Gift Cards</h3>
    </div>

    <div class="recent-payouts-wrapper">
      <div class="col-xs-6">
        <% @transactions.where(transaction_type: 'cash_out').order('transaction_confirmed_date DESC').limit(3).to_a.each do |transaction| %>
          <%= render 'components/recent_payouts', transaction: transaction %>
        <% end %>
      </div>
      <div class="col-xs-6 recent-payouts-details-wrapper">
        <% first = true %>
        <% @transactions.where(transaction_type: 'cash_out').order('transaction_confirmed_date DESC').limit(3).to_a.each do |transaction| %>
          <%= render 'components/recent_payouts_details', transaction: transaction, first: first %>
          <% first = false %>
        <% end %>
      </div>
    </div>

  <% end %>

  <div class="col-xs-12">
    <h2>Transaction History</h2>
  </div>

  <% @transactions.each do |transaction| %>

    <div class="col-xs-12">
      <% if transaction.partner_id.nil? %>
        <!-- Card for Payout -->
        <%= render 'components/cashout_card', transaction: transaction %>
      <% else %>
        <!-- Card for Cash In -->
        <%= render 'components/cashin_card', transaction: transaction %>
      <% end %>
    </div>

  <% end %>
  </div>
</div>
