<div class="container">
  <% @transactions.each do |transaction| %>
    <div class="transaction-card">

      <div class="status">
      </div>

      <div class="card-body card-shadow-light">

          <% if transaction.partner_id.nil? %>
            <%= cl_image_tag Game.find_by_id(transaction.game_id).logo_image, class:"transaction-image" %>
          <% else %>
            <%= cl_image_tag Partner.find_by_id(transaction.partner_id).logo_image, class:"transaction-image" %>
          <% end %>

          <span>
            <% if transaction.partner_id.nil? %>
              <h3> Payout for <%= Game.find_by_id(transaction.game_id).name %> </h3>
            <% else %>
              <h3> You got Cashback from <%= Partner.find_by_id(transaction.partner_id).name %> </h3>
            <% end %>
            <p> <%= transaction.transaction_confirmed_date.strftime("at %H:%M %d.%m.%Y") %> </p>
          </span>



        <h2> <%= transaction.user_commission_amount_cents * ExchangeRate.where(game_id: transaction.game_id)[0].rate.to_i %> </h2>


      </div>
    </div>
  <% end %>

</div>
