<div class="page-background" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= cl_image_path current_user.game.banner_image %>')" >

  <div class="container" style="flex: 1 1 auto;">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="payout-card card-shadow-strong">

          <div class="card-head">
            <h2>It's Payday!</h2>
            <img src="https://res.cloudinary.com/dmr1qubzk/image/upload/v1552554710/8888313.jpg" alt="" style="max-height: 200px">
          </div>

          <div class="card-body">
            <% amount =  current_user.balance * current_user.game.exchange_rates.where(currency_origin_short: "EUR").first.rate %>

            <%= form_for @transaction, remote: true do |f| %>

             <div class="form-group row">
                <div class="input-group-prepend">
                  <i class="fas fa-coins input-group-text"></i>
                </div>
                <%= f.text_field :user_commission_amount_cents,
                  class:"form-controll",
                  placeholder: "Coins",
                  value: @value,
                  required: true

                %>
              </div>
                <p> Max. Payout: <%= number_with_precision(amount.to_i, precision: 0, delimiter: ',') %>


                <%= f.hidden_field :transaction_type, value: 'cash_out',
                  required: true
                %>

              <p></p>
              <div class="form-actions">
                <%= f.submit "Get Payout", data: { disable_with: "Creating Your Giftcode...💰" }, class:"btn btn-medium-solid"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
